<h3 align="center">Saisie des notes de frais</h3>
<div class="container" *ngFor="let note of notefrais ;  let i = index">
  <div class="form-row">
    <div class="form-group col-md-3">
      <div>Nature </div>
      <div>Date de début</div>
      <div>Date de fin</div>
    </div>
    <div class="form-group col-md-3">
      <div>{{note.nature}}</div>
      <div>{{note.dateDebut}}</div>
      <div>{{note.dateFin}}</div>
    </div>
    <div class="form-group col-md-3">
      <div>Prime estimé</div>
      <div>Départ</div>
      <div>Arrivée</div>
    </div>
    <div class="form-group col-md-3">
      <div>{{primeMission[i].montantEuros}}€</div>
      <div>{{note.depart}}</div>
      <div>{{note.arrivee}}</div>
    </div>
    <div>
      <div>
        <table class="table table-hover">
          <tr >
            <th width="150" align="center" scope="col">Date</th>
            <th width="150" align="center" scope="col">Nature</th>
            <th width="150" align="center" scope="col">Montant</th>
            <th width="150" align="center" scope="col">Actions</th>
          </tr>
          <tr *ngFor="let ligne of listLignefrais">
            <td scope="row">{{ligne.date}}</td>
            <td>{{ligne.type}}</td>
            <td>{{ligne.montantEuros}}€</td>
            <td><a routerLink="../modifierLigneFrais">
                <button class="btn"> <fa-icon [icon]="modifIcon"></fa-icon></button>
              </a>
              <a routerLink="../suprimerLigneFrais"> <button class="btn"><fa-icon [icon]="suprimeIcon"></fa-icon>
                </button>
              </a>
            </td>
          </tr>
        </table>
        <div class="d-flex justify-content-end">Ajouter un frais <button class="btn btn-primary btn-sm"
            (click)="open(content)"> + </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal >
  <div class="modal-header bg-info text=white">
    <h5 class="modal-title" id="modal-basic-title">Ajout d'une ligne de frais</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <form [formGroup]= "ligneFraisForm">
      <div class="form-group row">
        <label for="date" class="col-6 offset-md-2 col-md-2 col-form-label">Date </label>
          <div class="col-6 col-md-6">
            <input id="date" type = "text" class="form-control" formControlName="date"  placeholder="  /  /    " name="dp" ngbDatepicker
                    #dp="ngbDatepicker" [(ngModel)]="ligneDeFrais.date" required/>
            <!-- <div class="d-flex justify-content-end">
              <button class="btn btn-primary calendar" (click)="dp.toggle()" type="button"></button>
            </div> -->
          </div>
            <!-- <small style ="color:red" class="offset-md-3 col-md-7" *ngIf="erreur_date">la date d'un nouveau ligne de frais
                  doit etre comprise entre la date de debut et de fin de la mission</small> -->
      </div>
      <div class ="alert alert-danger" *ngIf="ligneFraisForm.controls['date'].invalid && (ligneFraisForm.controls['date'].touched || ligneFraisForm.controls['date'].dirty)"> La date est obligatoire !!

      </div>
      <div class="form-group row">
        <label for="nature" class="col-6 offset-md-2 col-md-2 col-form-label">Nature </label>
          <div class="col-6 col-md-6">
            <input id="nature" type = "text" formControlName="type" class="form-control" placeholder="Choix de nature de ligne"
                    [(ngModel)]="ligneDeFrais.type" required>
          </div>
            <small class="offset-md-3 col-md-7" *ngIf="erreur_disponnibilite">Attention ligne de frais deja
                  existant!! (même couple date/nature)</small>
      </div>
      <div class="form-group row">
        <label for="montant" class="col-6 offset-md-2 col-md-2 col-form-label">Montant(€) </label>
          <div class="col-6 col-md-6" >
            <input id="montant" type = "text" class="form-control" formControlName="montant" placeholder="montant"
                    [(ngModel)]="ligneDeFrais.montant" required>
          </div>
            <small class="offset-md-3 col-md-7" *ngIf="erreur_montant">Le montant de la ligne de frais doit etre
                  strictement positif</small>
       </div>
    </form>
    <div class="modal-footer">
      <div class="col-6  offset-md-3 col-md-3">
        <button type="button" ngbAutofocus class="btn btn-danger" (click)="modal.close('Ok click')">Annuler</button>
      </div>
      <div class="col-6 col-md-3">
          <button type="button" class="btn btn-success" (click)="modal.close('Save click')">Valider</button>
      </div>
    </div>
  </div>
</ng-template>


