<div class="card text-center">
    <h2 class="card-title">Demande de mission</h2>
    <div class="card-body">
        <form id="form">
            <div class="form-group row">
                <label for="dateDebut" class="col-6 offset-md-3 col-md-3 col-form-label">Date de début : </label>
                <div class="col-6 col-md-3">
                    <input type="date" id="dateDebut" name="dateDebut" [(ngModel)]="mission.date_debut"/>
                </div>
            </div>
            <div *ngIf="erreur_date_debut">la date de début doit etre remplie et être supérieure à la date du jour</div>
            <div *ngIf="erreur_avion">la date de début doit etre être supérieure de 7 jours à la date du jour avec le transport par avion</div>
            <div *ngIf="erreur_date_debut_non_travaille">la date de début ne doit pas être défini sur un jour non travaillé</div>
            <div class="form-group row">
                <label for="dateFin" class="col-6 offset-md-3 col-md-3 col-form-label">Date de fin : </label>
                <div class="col-6 col-md-3">
                    <input type="date" id="dateFin" name="dateFin" [(ngModel)]="mission.date_fin"/>
                </div>
            </div>
            <div *ngIf="erreur_date_fin">la date de de fin doit être supérieure à la date de début</div>
            <div *ngIf="erreur_date_fin_non_travaille">la date de fin ne doit pas être défini sur un jour non travaillé</div>
            <div class="form-group row">
                <label for="nature" class="col-6 offset-md-3 col-md-3 col-form-label">Nature : </label>
                <div class="col-6 col-md-3">
                    <select name="nature" id="nature" [(ngModel)]="mission.nature">
                        <option value="">Choisissez une nature</option>
                        <option value="Conseil">Conseil</option>
                        <option value="Expertise_technique">Expertise technique</option>
                        <option value="Formation">Formation</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="villeDepart" class="col-6 offset-md-3 col-md-3 col-form-label">Ville de départ : </label>
                <div class="col-6 col-md-3">
                    <input type="text" id="villeDepart" name="villeDepart" [(ngModel)]="mission.ville_depart"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="villeArrive" class="col-6 offset-md-3 col-md-3 col-form-label">Ville d'arrivée : </label>
                <div class="col-6 col-md-3">
                    <input type="text" id="villeArrivee" name="villeArrivee" [(ngModel)]="mission.ville_arrivee"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="transport" class="col-6 offset-md-3 col-md-3 col-form-label">Transport : </label>
                <div class="col-6 col-md-3">
                    <select name="transport" id="transport" [(ngModel)]="mission.transport">
                        <option value="">Choisissez un transport</option>
                        <option value="avion">Avion</option>
                        <option value="covoiturage">Covoiturage</option>
                        <option value="train">Train</option>
                        <option value="voiture_service">Voiture de service</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-6  offset-md-3 col-md-3 col-form-label">Estimation prime : </label>
                <div class="col-6 col-md-3">0€</div>
            </div>
            <div *ngIf="erreur_chevauchement">Erreur : la mission demandée chevauche une autre mission</div>
            <div *ngIf="validation">La mission a été crée</div>
            <div class="form-group row">
                <div class="col-6  offset-md-3 col-md-3">
                    <button type="button" class="btn btn-danger" (click)="annuler()">Annuler</button>
                </div>
                <div class="col-6 col-md-3">
                    <button type="button" class="btn btn-primary" (click)="valider()">Valider</button>
                </div>
            </div>
        </form>
    </div>
</div>