<h3 align="center">Gestion des notes de frais</h3>
<table class="table table-bordered" style="width: 1000;" align="center">
  <thead>
    <tr>
      <th width="40" align="center">Date de début</th>
      <th width="40" align="center">Date de fin</th>
      <th width="100" align="center">Nature</th>
      <th width="40" align="center">Départ</th>
      <th width="40" align="center">Arrivée</th>
      <th width="40" align="center">Transport</th>
      <th width="40" align="center">Frais</th>
      <th width="40" align="center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>22/05/2017</td>
      <td>26/05/2017</td>
      <td>Conseil</td>
      <td>Nantes</td>
      <td>Lyon</td>
      <td>Avion</td>
      <td>0 €</td>
      <td>(pdf)</td>
    </tr>
    <tr>
      <td>02/10/2017</td>
      <td>06/10/2017</td>
      <td>Formation</td>
      <td>Nantes</td>
      <td>Rennes</td>
      <td>Covoiturage</td>
      <td>0 €</td>
      <td></td>
    </tr>
    <tr>
      <td>13/11/2017</td>
      <td>17/11/2017</td>
      <td>Expertise technique</td>
      <td>Nantes</td>
      <td>Nantes</td>
      <td>Voiture de service</td>
      <td>0 €</td>
      <td></td>
    </tr>
    <tr>
      <td>02/01/2018</td>
      <td>12/01/2018</td>
      <td>Conseil</td>
      <td>Lyon</td>
      <td>Montpellier</td>
      <td>Voiture de service</td>
      <td>0 €</td>
      <td></td>
    </tr>
  </tbody>
</table>

