<div class="navigation container-lg">
  <nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand" routerLink="/accueil">Accueil</a>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Gestions des missions<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Planning des missions</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Primes</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Saisie note de frais</a>
        </li>
      </ul>
    </nav>
        <div class="disconnect">
          <ng-container *ngIf="collegueConnecte | async as col">
            <div class="lead" *ngIf="!col.estAnonyme()">
              <p  >Utilisateur connecté : {{col.email}}</p>
              <button  class="btn btn-danger btn-sm" (click)="seDeconnecter()">Se déconnecter</button>
            </div>
          </ng-container>
        </div>
  </div>
