<div>
  <h3>Modification d'une nature de mission</h3>
  <form #etatForm="ngForm" (ngSubmit)="!etatForm.form.invalid" method="POST">
    <!-- Nature -->
    <div class="row">
      <div class="col-6">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="natureMission">Nature</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="natureMission" name="nom" [(ngModel)]="nature.nom"
              #etatNom="ngModel" required>
            <div *ngIf="etatNom.dirty && etatNom.invalid" class="alert alert-danger" role="alert">
              Le nom de la nature de mission est obligatoire
            </div>
          </div>
        </div>
      </div>
      <div class="col-6"></div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="plafondFrais">Plafond de frais</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="plafondFrais" name="plafondFrais"
              [(ngModel)]="nature.plafond" #etatPlafondFrais="ngModel" required>
            <div *ngIf="etatPlafondFrais.dirty && erreurPlafondFrais == true" class="alert alert-danger" role="alert">
              Le montant des frais prise en charge est obligatoire et le montant doit être positif
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="plafondFraisDepassable">Plafond dépassable</label>
          <div class="col-sm-10">
            <select class="form-control custom-select" id="plafondFraisDepassable" name="plafondFraisDepassable"
              [(ngModel)]="nature.plafondDepassable" #etatplafondFraisDepassable="ngModel" required>
              <option value=true>OUI</option>
              <option value=false>NON</option>
            </select>
            <div *ngIf="etatplafondFraisDepassable.dirty && etatplafondFraisDepassable.invalid"
              class="alert alert-danger" role="alert">
              Le choix est est obligatoire
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <!-- Facturée -->
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="facturation">Facturée</label>
          <div class="col-sm-10">
            <select class="form-control custom-select" id="facturation" name="facturation"
              (ngModelChange)="facturation($event)" [(ngModel)]="nature.facturation" #etatFacturation="ngModel"
              required>
              <option value=true [ngValue]=true>OUI</option>
              <option value=false [ngValue]=false>NON</option>
            </select>
            <div *ngIf="etatFacturation.dirty && etatFacturation.invalid" class="alert alert-danger" role="alert">
              Le choix est obligatoire
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <!-- TJM -->
        <div class="form-group row" *ngIf="factureMode == true || primeMode == true || factureModif">
          <label class="col-sm-2 col-form-label" for="tjm">TJM (€)</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="tjm" name="tjm" [(ngModel)]="nature.tjm"
              #etatTjm="ngModel" required>
            <div *ngIf="etatTjm.dirty && etatTjm.invalid" class="alert alert-danger" role="alert">
              La saisie d'un TJM est obligatoire
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <!-- Prime -->
        <div class="form-group row" *ngIf="factureMode == true || primeMode == true || factureModif == true" >
          <label class="col-sm-2 col-form-label" for="prime">Versement de prime</label>
          <div class="col-sm-10">
            <select class="form-control custom-select" id="prime" name="prime" (ngModelChange)="prime($event)"
              [(ngModel)]="nature.prime" #etatPrime="ngModel" required>
              <option value=true [ngValue]=true>OUI</option>
              <option value=false [ngValue]=false>NON</option>
            </select>
            <div *ngIf="etatPrime.dirty && etatPrime.invalid" class="alert alert-danger" role="alert">
              Le choix est obligatoire
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <!-- % Prime -->
        <div class="form-group row" *ngIf="primeMode == true || primeModif == true">
          <label class="col-sm-2 col-form-label" for="%prime">% Prime</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="%prime" name="%prime"
              [(ngModel)]="nature.pourcentage" #etatPrimePourcent="ngModel" required>

            <div *ngIf="etatPrimePourcent.dirty && erreurPourcentage == true" class="alert alert-danger" role="alert">
              La saisie d'une prime est obligatoire et le montant doit être inférieur à 10%
            </div>
          </div>
        </div>

      </div>
    </div>
    <div *ngIf="validation == true" class="alert alert-success">
      Votre modification a bien été enregistrée
    </div>
    <div class="button">
      <!-- Reset le form -->
      <button class="btn btn-danger" (click)="etatForm.reset()">Annuler</button>
      <button type="submit" class="btn btn-success" (click)="valider()">Valider</button>
    </div>
  </form>
</div>
